<style>
    th,
    td,
    tr {
        align-items: center;
    }
</style>
{{!-- <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand">DASHBOARD</a>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>

    </nav> --}}
    {{!--
</nav> --}}

{{!-- header --}}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap  shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">DASHBOARD</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {{!-- <a href="/admin/logout">logout</a> --}}

    <a class="nav col-12 col-md-auto flex-fill mb-2 justify-content-end mb-md-0 px-4" href="/admin/logout">logout</a>
    {{!-- <input type="search" name="searchTerm" class="form-control form-control-dark w-100 rounded-0 border-0"
        placeholder="Search..." aria-label="Search"> --}}

</header>
{{!-- header --}}

<div class="container-fluid">
    {{!-- <div class="row"> --}}
        {{!-- sidebar --}}
        {{!-- <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"> --}}
            {{!-- <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">
                            <i class="bi bi-house"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">
                            <i class="bi bi-patch-question"></i>
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </nav> --}}
        {{!-- sidebar --}}


        {{!-- body --}}
        </form>
        {{!-- <a href="/admin/logout">logout</a> --}}
        <h2 align="center" class="my-3">User Details</h2>
        <div class="container mt-3">

            <div class="btn btn-toolbar mb-2 mb-md 0 justify-content-sm-end">
                <form class="nav col-12 col-md-auto flex-fill  justify-content-center mb-md-0" role="search"
                    method="POST" action="/search">
                    <input type="search" name="searchTerm"
                        class="form-control form-control-dark w-100 rounded-0 border-0" placeholder="Search..."
                        aria-label="Search">
                </form>
                <div class="btn-group me-2">
                    <a href="/admin/add" class="btn btn-sm btn-outline-secondary">Add User</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">

            <div class="container mt-2">
                <div class="header py-3 d-flex justify-content-between">
                    {{!-- <section class="sign-in"> --}}
                        {{!-- <div class="container"> --}}
                            {{!-- <div class="signin-content"> --}}

                                <table class="table  table-hover">
                                    <thead class="thead-dark">
                                        <tr class="table-success">
                                            <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Phone no</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Created on</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each user}}
                                        <tr>
                                            {{!-- <th scope="row">1</th> --}}
                                            <td>{{this.name}}</td>
                                            <td>{{this.email}}</td>
                                            <td>{{this.phone}}</td>
                                            <td>{{this.createdAt}}</td>
                                            <td>
                                                <a href="/admin/delete/{{this._id}}" data-id="{{this._id}}" class="btn btn-outline-danger py-0"
                                                onclick="return confirm('Are you sure,You want to delete {{this.userName}}')" > Delete</a>
                                                <a href="/admin/updateUser/{{this._id}}" class="btn btn-outline-success py-0"> Update</a>

                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
                </section>
            </div>
        </div>
        {{!-- </main> --}}
    </div>
</div>